<app-nav-bar></app-nav-bar>

<div class="users-info">

  <form class="labels form-inline">
    
    Length Max: <input type="text" class="form-control" id="inlineFormInputGroup" name="trip_length" [(ngModel)]="filter_obj.trip_length">

    Price Max: <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="trip_price" [(ngModel)]="filter_obj.trip_price">
    
    <button type="submit" class="btn btn-primary" style="text-align:right;float:right;" (click)="filterTrips()">Search</button>
  </form>

   <div *ngIf="errors">
    <p class="red">{{errors}}</p>
  </div>

  <br><br><br>

  <table class="table table-inverse">
    <thead>
      <tr class="warning">
        <th>Trip Name</th>
        <th>Username</th>
        <th>Total Days</th>
        <th>Total Cost</th>
        <th>View Trip</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info" *ngFor="let trip of users_trips">
        <td><h6>{{ trip.trip_name }}</h6></td>
        <td><h6>{{ trip.username }}</h6></td>
        <td><h6>{{ trip.day_count }}</h6></td>
        <td><h6>{{ trip.money_count }}</h6></td>
        <td><button class="btn btn-success" (click)="checkOutUsersTrip(trip._id)">View this trip!</button></td>
      </tr>
      
    </tbody>
  </table> 

</div>